.logo{
    height:40px;
    width:40px;
    margin-left:10px;
}

.col-sm-5{
    border-right: solid 20px #f4a261;
    border-top: solid 20px #f4a261;
    border-left: solid 20px #f4a261;
    border-bottom: solid 20px #f4a261;
}

.card-body{
    width:100%;

}

.card-img-top{
    padding:100px;

}

.smartphone{
    width: 50px;
    height:50px;
    margin-top: 20px;
}

.indicator{
    display:inline-block;
    width:200px;
    height:200px;
    border-radius: 50%;
    background:green;
    box-shadow: 0 0 10px black;
    transition: all .5s;
    margin-left:50px;
}

.switch{
    padding:50px;
}

.smartphone{
    width: 100px;
    height:100px;
    margin-top: 50px;
    margin-left: 50px;;
}

.online .indicator{
    background: grey;
}

main div h3:before{
    content: "Disconnect Wifi";
    margin-left:50px;
    color: black;

}

main .online h3:before{
    content: "Connect Wifi";
    margin-left:50px;
    color:black;

}

p{
    font-size: 29px;
    padding:20px;
}

h1{
    padding:25px;
}


.p2{
    font-size: 16px;
    color:grey;
    margin-top: -50px;
}

#demo{
    font-weight: bold;
    color: #2a9d8f
}

.btn-primary{
    margin-left:25px !important;
    width: 100px !important;
    height: 50px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}