
.logo{
    height:40px;
    width:40px;
    margin-left:10px;
}

.card-deck{
    padding:50px;
    margin-top:100px;
    background-color: #f4a261;
}

.card-img-top{
    padding-top:25px;
    padding-bottom:25px;
    padding-left:100px;
    padding-right:100px;
    background: green;
 
}

.bs-example{
    padding:50px;
    background-color: #f4a261;
}

.card-img-top2{
    background-color:grey;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:100px;
    padding-right:100px;
}